/**
 * Variables
 * Typography
 * Buttons
 * Wrappers
 * Sections
 * Pages
 * Navs
 * Cards
 * Custom elements
 *   Crosshairs
 *   Pipes
 * Footer
 */

/**
 * Variables
 *
 * Custom, non-Bootstrap variables
 */
$section-padding:  $spacer * 4.125;

$clip-top:         $spacer * 1.75;
$clip-height:      $clip-top;
$clip-width:       $spacer * 2.5;
$clip-offset:      $spacer * 22.3;
$clip-right:       calc(100% - #{$clip-offset});
$clip-left:        calc(100% - #{$clip-offset + $clip-width});

/**
 * Typography
 */
body {
    letter-spacing: .025em;
}
p {
    &:last-of-type {
        margin-bottom: 0;
    }
}
h1, .h1 {
    line-height: 1;
}
h2, .h2 {
    line-height: 1.2;
    margin-bottom: 1.8rem;
    @include media-breakpoint-down('sm') {
        font-size: #{$font-size-base * 1.875};
    }
}
a {
    &.read-more-link {
        text-decoration: underline;
    }
}

/**
 * Buttons
 */
@each $color, $value in $colors {
    .btn-outline-#{$color} {
        @include button-outline-variant($value);
    }
}
a.btn {
    font-size: #{$font-size-sm};
    letter-spacing: .600em;
    line-height: 1;
    max-width: 100%;
    position: relative;
    text-transform: uppercase;
    width: 342px;
    &.btn-lg {
        font-size: #{$font-size-base};
        width: 352px;
    }
    &::before {
        content: " ";
        border-bottom: 2px solid #{$white};
        bottom: #{$btn-padding-y * .5};
        display: inline-block;
        position: absolute;
        width: 1em;
        width: 1ch;
    }
}
li.btn { // navmenu buttons
    font-size: inherit;
}

/**
 * Wrappers
 *
 * Used to wrap distinct page elements
 */
#frontpage-wrapper {
    padding: 0;
}
.wrapper > #main > article > section:first-of-type {
    padding-top: #{($spacer * 3.75) + ($spacer * 6.7)};
}
#wrapper-footer {
    background-color: #{$dark};
    color: #{$white};
    padding: #{$spacer * 4.125} 0;
}

/**
 * Sections (and Containers)
 *
 * These are the rows with defined backgrounds
 */
section {
    padding: #{$spacer * 3.75} 0;
    position: relative;
    &.section-unpadded {
        padding: 0;
        .container-fluid {
            padding: 0;
        }
    }
}
.section-black {
    background-color: #{$black};
    color: #{$white};
}
.section-blue {
    background-color: #{$blue}; // rgba($blue,.9);
    color: #{$white};
}
.section-banner {
    margin-top: -#{$clip-height};
    padding-bottom: #{$section-padding};
    padding-top: #{$section-padding + $clip-height};
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 #{$clip-height}, #{$clip-left} #{$clip-height}, #{$clip-right} 0);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 #{$clip-height}, #{$clip-left} #{$clip-height}, #{$clip-right} 0);
}

.container,
.container-fluid {
    position: relative;
    @include media-breakpoint-down('sm') {
        padding-left: 2.25rem !important;
        padding-right: 2.25rem !important;
    }
}

/**
 * Pages
 *
 * Page specific sections and spacing, et al.
 */
#front-page-intro {
    background-color: #{$black};
    background-image: url(../images/f22-V3.png),
        url(../images/SOLDIERS-UPDATES-3.png),
        linear-gradient(156deg,rgba($black,0) 22rem,$black 43rem),
        url(../images/earth_desktop.png);
    background-position: calc(50vw + 1rem) 34rem,calc(50vw + 5rem) 15.5rem,0 0,0 -4rem;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: auto, auto, auto, auto;
    padding-top: 15rem;
    padding-bottom: #{$spacer * 5.625};
    #intro-header {
        margin-bottom: 13.1875rem;
        text-align: center;
        h1 {
            margin-bottom: 1.6875rem;
        }
    }
    #intro-copy {
        .btn {
            margin-top: 2.6rem;
        }
    }
    @include media-breakpoint-down('lg') {
        background-image: url(../images/f22-V3.png),
            url(../images/SOLDIERS-UPDATES-3.png),
            linear-gradient(149deg,rgba($black,0) 23rem,$black 34rem),
            url(../images/earth_desktop.png);
        background-position: 50vw 37rem,calc(50vw + 4rem) 16rem,0 0,0 0;
        background-size: auto,auto,auto,auto;
    }
    @include media-breakpoint-down('md') {
        background-image: url(../images/f22-V3.png),
            url(../images/SOLDIERS-UPDATES-3.png),
            linear-gradient(151deg,rgba($black,0) 18rem,$black 26rem),
            url(../images/earth_desktop.png);
        background-position: calc(50vw - 21rem) 43rem,calc(50vw - 20rem) 26rem,0 0,0 0;
        background-size: auto,auto,auto,50rem auto;
        #intro-header {
            margin-bottom: 50rem;
        }
    }
    @include media-breakpoint-down('sm') {
        background-image: url(../images/f22-V3.png),
            url(../images/SOLDIERS-UPDATES-3.png),
            linear-gradient(151deg,rgba($black,0) 15rem,$black 25rem),
            url(../images/earth_desktop.png);
        background-position: calc(50vw - 17rem) 44rem,calc(50vw - 17rem) 29rem,0 0,0 0;
        background-size: 38rem auto,36rem auto,auto,73rem auto;
        padding-top: 10rem;
        #intro-header {
            margin-bottom: 42rem;
            h1 {
                margin-bottom: 4rem;
            }
        }
    }
    @include media-breakpoint-down('xs') {
        background-image: url(../images/f22-V3.png),
            url(../images/SOLDIERS-UPDATES-3.png),
            linear-gradient(151deg,rgba($black,0) 9rem,$black 17rem),
            url(../images/earth_desktop.png);
        background-position: calc(50vw - 13rem) 38rem,calc(50vw - 13rem) 26rem,0 0,0 0;
        background-size: 30rem auto,28rem auto,auto,50rem auto;
        padding-top: 8rem;
        #intro-header {
            margin-bottom: 33rem;
        }
    }
}
#front-page-banner {
    background-position: 50% 50%, 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    font-size: #{$font-size-base * 1.875};
    text-align: center;
    #banner-copy {
        @extend .row;
        justify-content: center;
        > div {
            @extend .col-12;
            @extend .col-lg-11;
        }
    }
}
#front-page-slider {}
#front-page-posts {
    background-image: url(../images/path1.png);
    background-position: calc(50vw - 44.3rem) 3.3125rem;
    background-repeat: no-repeat;
    background-size: auto;
    padding-bottom: 6rem;
    padding-top: 8.375rem;
    #posts-title {
        margin-bottom: 4rem;
    }
    @include media-breakpoint-down('lg') {
        background-position: calc(50vw - 40.3rem) 3.3125rem;
        background-size: auto;
        padding-bottom: 6rem;
        padding-top: 8.375rem;
    }
    @include media-breakpoint-down('md') {
        background-position: calc(50vw - 33.3rem) 3.3125rem;
        background-size: auto;
        padding-bottom: 6rem;
        padding-top: 8.375rem;
    }
    @include media-breakpoint-down('sm') {
        background-position: calc(50vw - 26rem) 3.3125rem;
        background-size: auto;
        padding-bottom: 6rem;
        padding-top: 8.375rem;
    }
    @include media-breakpoint-down('xs') {
        background-position: calc(50vw - 20rem) 3.3125rem;
        background-size: auto;
        padding-bottom: 3rem;
        padding-top: 8.375rem;
    }
}

#who-we-are_page-wrapper {
    #who-we-are_header {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        header {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0;
        }
    }
    #who-we-are_tabs {
        .nav-tabs { // <ul>
            > .nav-item { // <li>
                > .nav-link { // <a>
                    background-color: #{$dark};
                    color: #{$white};
                    font-size: #{$font-size-lg};
                    font-weight: #{$font-weight-bold};
                    letter-spacing: .025em;
                }
            }
        }
    }
    #who-we-are_mission {
        background-position: calc(50vw - 44.5rem) 3rem, center;
        background-repeat: no-repeat;
        background-size: auto, cover;
        padding-top: #{$spacer * 6.375};
        @include media-breakpoint-down('lg') {
            background-position: calc(50vw - 44.5rem) 3rem, center;
            padding-top: #{$spacer * 6.375};
        }
        @include media-breakpoint-down('md') {
            background-position: calc(50vw - 44.5rem) 3rem, center;
            padding-top: #{$spacer * 6.375};
        }
        @include media-breakpoint-down('sm') {
            background-position: calc(50vw - 44.5rem) 3rem, center;
            padding-top: #{$spacer * 6.375};
        }
        @include media-breakpoint-down('xs') {
            background-position: calc(50vw - 44.5rem) 3rem, center;
            padding-top: #{$spacer * 6.375};
        }
    }
    #who-we-are_team {
        #team-members-title {}
        #team-members-cards {
            .card {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
                max-width: calc(25% - #{$card-group-margin * 2});
                margin-bottom: #{$spacer * 3};
                &:nth-last-child(1),
                &:nth-last-child(2),
                &:nth-last-child(3),
                &:nth-last-child(4) {
                    margin-bottom: 0;
                }
                .card-img-top {
                    border: 0;
                    margin-bottom: #{$spacer * 1.4375};
                }
                .card-body {
                    .card-title {
                        font-size: #{$font-size-base};
                    }
                    .card-text {
                        font-size: #{$font-size-sm};
                    }
                }
            }
        }
    }
}

/**
 * Navs
 *
 * Styles for navigation bars
 */
#wrapper-navbar {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    .admin-bar & {
        top: 32px;
        @media screen and (max-width: 781px) {
            top: 46px;
        }
    }
    > nav {
        border-bottom: 1px solid #{$gray-600};
        @include media-breakpoint-down('xs') {
            padding: 0;
            .navbar-brand {
                padding: 0;
                img {
                    max-width: 11rem;
                }
            }
        }
        .navbar-icon-reps {
            background-color: transparent;
            border: 1px solid #{$navbar-dark-toggler-border-color};
            color: #{$navbar-dark-color};
            display: none;
            font-size: #{$navbar-toggler-font-size};
            line-height: 1;
            margin-left: auto;
            margin-top: 4px;
            padding: #{$navbar-toggler-padding-y} #{$navbar-toggler-padding-x};
            @include media-breakpoint-down('sm') {
                display: inline-block;
            }
        }
        .navbar-toggler {
            margin-right: -#{$navbar-toggler-padding-x};
            .navbar-toggler-icon {
                height: auto;
                width: auto;
            }
        }
        &.navbar-dark {
            background-color: rgba($black, 1);
            transition: $transition-base;
        }
    }
    .home & {
        &.nav-transparency {
            > nav.navbar-dark {
                background-color: rgba($black, .5);
            }
        }
    }
    .sub-navbar {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, #{$clip-width} 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, #{$clip-width} 100%);
        background-color: #{$gray-600};
        display: inline-block;
        float: right;
        position: relative;
        .sub-navbar-inner {
            background-color: #{$black};
            padding-left: #{$clip-width};
            -webkit-clip-path: polygon(#{$border-width} 0, 100% 0, 100% calc(100% - #{$border-width}), #{$clip-width} calc(100% - #{$border-width}));
            path: polygon(#{$border-width} 0, 100% 0, 100% calc(100% - #{$border-width}), #{$clip-width} calc(100% - #{$border-width}));
            @each $breakpoint, $width in $container-max-widths {
                @include media-breakpoint-up( $breakpoint ) {
                    padding-right: calc((100vw - #{$width}) / 2);
                }
            }
            .nav {
                align-items: center;
            }
            a {
                color: #{$white};
            }
        }
        @include media-breakpoint-down('sm') {
            display: none;
        }
        #searchform { // <form>
            #s { // <input>
                background-color: transparent;
                border-color: transparent;
                max-height: 2rem;
                padding: 0;
                transition: #{$transition-base};
                width: 0;
            }
            #searchsubmit { // <button>
                background-color: transparent;
                border: 0;
                color: #{$white};
                padding: 0 #{$spacer * .5};
                margin-right: -#{$spacer * .5};
            }
            &.show {
                #s {
                    border-color: #{$gray-600};
                    padding: #{$input-btn-padding-y} #{$input-btn-padding-x};
                    width: 200px;
                }
            }
        }
    }
}
#main-menu { // <ul>
    align-items: center;
    > .nav-item { // <li>
        margin-left: #{$spacer * .5};
        margin-right: #{$spacer * .5};
        text-align: center;
        &:first-of-type {
            margin-left: 0;
        }
        &:last-of-type {
            margin-right: 0;
        }
        > .nav-link { // <a>
            font-size: #{$font-size-base * .875};
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }
        &.active {
            &.btn {
                > .nav-link {
                    color: $white;
                }
            }
        }
    }
}
#footer-menu { // <ul>
    @extend .row;
    justify-content: space-between;
    > .nav-item { // <li>
        @extend .col-12;
        @extend .col-sm-6;
        @extend .col-md-4;
        @extend .col-lg-auto;
        @include media-breakpoint-only('xs') {
            margin-bottom: #{$spacer};
            &:nth-last-child(1) {
                margin-bottom: 0;
            }
        }
        @include media-breakpoint-only('sm') {
            margin-bottom: #{$spacer};
            &:nth-last-child(1),
            &:nth-last-child(2) {
                margin-bottom: 0;
            }
        }
        @include media-breakpoint-only('md') {
            margin-bottom: #{$spacer};
            &:nth-last-child(1),
            &:nth-last-child(2),
            &:nth-last-child(3) {
                margin-bottom: 0;
            }
        }
        > .nav-link { // <a>
            color: $white;
            font-size: #{$font-size-base * .875};
            font-weight: $font-weight-bold;
            padding: 0;
            text-transform: uppercase;
            &.dropdown-toggle {
                &::after {
                    display: none;
                }
            }
        }
        &.dropdown { // <li>
            > .dropdown-menu { // <ul>
                background-color: transparent;
                display: block !important;
                margin: 0;
                margin-top: 2rem;
                padding: 0;
                position: relative !important;
                top: auto;
                transform: inherit !important;
                > .nav-item { // <li>
                    > .dropdown-item { // <a>
                        background-color: transparent;
                        color: $gray-600;
                        padding: 0;
                        &:active,
                        &:hover {
                            background-color: transparent;
                            color: $gray-600;
                        }
                    }
                }
                @include media-breakpoint-down('lg') {}
                @include media-breakpoint-down('md') {
                    margin-top: 0rem;
                }
                @include media-breakpoint-down('sm') {}
                @include media-breakpoint-down('xs') {}
            }
        }
    }
}
#legal-menu { // <ul>
    @extend .row;
    justify-content: center;
    @include media-breakpoint-up('lg') {
        justify-content: space-between;
    }
    > .nav-item { // <li>
        @extend .col-auto;
        > .nav-link { // <a>
            color: $white;
            font-size: $font-size-sm;
            padding: 0;
            text-decoration: underline;
        }
    }
}

/**
 * Cards
 *
 * Used to show posts as grid
 */
.card {
    .card-deck & {
        @include media-breakpoint-down('sm') {
            flex-basis: calc(100% - #{$card-group-margin * 2});
            margin-bottom: #{$spacer * 3};
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        .card-img-top {
            border: #{$border-width} solid #{$gray-600};
            margin-bottom: 2rem;
        }
        a {
            @extend .stretched-link;
        }
    }
}

/**
 * Custom Elements
 *
 * Additonal style elements
 */

/* Clips */
.clip-tl2br {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 0 0);
}
.clip-bl2tr {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

/* Crosshairs */
@mixin crosshairs($color) {
    display: block;
    position: relative;
    height: #{$spacer * 1.375};
    width: #{$spacer * 1.375};
    @include media-breakpoint-down('sm') {
        display: none;
    }
    &:after,
    &:before {
        content: " ";
        box-sizing: border-box;
        display: block;
        position: absolute;
    }
    &:after {
        border-right: 1px solid $color;
        height: 100%;
        width: 50%;
        left: 0;
    }
    &:before {
        border-bottom: 1px solid $color;
        height: 50%;
        width: 100%;
        top: 0;
    }
}
@each $color, $value in $colors {
    .crosshairs-#{$color} { @include crosshairs($value); }
}
@each $color, $value in $theme-colors {
    .crosshairs-#{$color} { @include crosshairs($value); }
}
@each $color, $value in $grays {
    .crosshairs-#{$color} { @include crosshairs($value); }
}
.crosshairs-top-left,
.crosshairs-top-right,
.crosshairs-bottom-left,
.crosshairs-bottom-right {
    position: absolute;
}
.crosshairs-top-left {
    top: -#{$spacer * 1.375 * 2};
    left: -#{$spacer * 1.375 / 2};
}
.crosshairs-top-right {
    top: -#{$spacer * 1.375 * 2};
    right: -#{$spacer * 1.375 / 2};
}
.crosshairs-bottom-left {
    bottom: -#{$spacer * 1.375 * 2};
    left: -#{$spacer * 1.375 / 2};
}
.crosshairs-bottom-right {
    bottom: -#{$spacer * 1.375 * 2};
    right: -#{$spacer * 1.375 / 2};
}

/* Paths */
.section-path1 {}

/* Pipes */
span.pipe {
    &::after {
        content: " | ";
    }
    @include media-breakpoint-down('md') {
        width: 100%;
        display: block;
        &::after {
            content: "";
            display: none;
        }
    }
}

/* Search Form */


/**
 * Footer
 *
 * Widgets and content. For nav menus see 'Navs'
 */
#wrapper-footer {
    background-image: url(../images/path2.png);
    background-position: calc(50vw - 34rem) 6.5rem;
    background-repeat: no-repeat;
    background-size: auto;
    @include media-breakpoint-down('lg') {
        background-position: calc(50vw - 29.5rem) 6.5rem;
    }
    @include media-breakpoint-down('md') {
        background-position: calc(50vw - 39.3rem) 27rem;
    }
    @include media-breakpoint-down('sm') {
        background-position: calc(50vw - 54rem) 31.5rem;
    }
    @include media-breakpoint-down('xs') {
        background-position: calc(50vw - 53rem) 39rem;
    }
    #footer-menu-wrapper {
        margin-bottom: #{$spacer * 2.625};
    }
    .footer-widgets {
        @extend .row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: #{$spacer * 2.625};
        position: relative;
        @include media-breakpoint-down('md') {
            margin-bottom: 5rem;
        }
        @include media-breakpoint-down('sm') {
            margin-bottom: 6rem;
        }
        .footer-widget {
            @extend .col-12;
            @extend .col-lg-auto;
            @include media-breakpoint-down('md') {
                margin-bottom: #{$spacer};
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            p {
                &:last-of-type {
                    margin-bottom: 0;
                }
                a {
                    text-decoration: underline;
                }
            }
        }
        .social-icons-widget {
            @extend .col-auto;
            @include media-breakpoint-down('md') {
                margin-left: auto;
            }
            a {
                color: #{$white};
                font-size: #{$font-size-base * 2};
                margin-right: #{$spacer * 1.5};
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
    .footer-siteinfo {
        @extend .row;
        @include media-breakpoint-up('lg') {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        #colophon {
            @extend .col-12;
            @extend .col-lg-auto;
            font-size: #{$font-size-sm};
            @include media-breakpoint-down('md') {
                text-align: center;
            }
            @include media-breakpoint-up('xl') {
                margin-right: #{$spacer * 4};
            }
        }
        #legal-menu-wrapper {
            @extend .col-12;
            @extend .col-lg;
            @include media-breakpoint-down('md') {
                text-align: center;
                margin-bottom: #{$spacer};
            }
        }
    }
}
