/**
 * Typography
 * Buttons
 * Wrappers
 * Sections
 * Crosshairs
 * Navs
 */

/* Typography */
#footer-social > i {
    margin-right: 2em;
    &:last-of-type {
        margin-right: 0;
    }
}

/* Wrappers */
#wrapper-footer {
    background-color: $dark;
    color: $white;
}

/**
 * Sections
 *
 * These are the rows with defined backgrounds
 */
.section-black {
    background-color: $black;
}

.section-blue {
    background-color: rgba($blue,.9);
}

/* Crosshairs */
@mixin crosshairs($color) {
    display: block;
    position: relative;
    height: #{$spacer * 1.375};
    width: #{$spacer * 1.375};
    &:after,
    &:before {
        content: " ";
        box-sizing: border-box;
        display: block;
        position: absolute;
    }
    &:after {
        border-right: 1px solid $color;
        height: 100%;
        width: 50%;
        left: 0;
    }
    &:before {
        border-bottom: 1px solid $color;
        height: 50%;
        width: 100%;
        top: 0;
    }
}

@each $color, $value in $colors {
    .crosshair-#{$color} { @include crosshairs($value); }
}
@each $color, $value in $theme-colors {
    .crosshair-#{$color} { @include crosshairs($value); }
}

/* Navs */
#footer-menu-wrapper {
    margin-left: -#{$grid-gutter-width / 2};
    margin-right: -#{$grid-gutter-width / 2};
}
#footer-menu { // <ul>
    justify-content: space-between;
    > .nav-item { // <li>
        @extend .col;
        > .nav-link { // <a>
            color: $white;
            padding: 0;
        }
        &.dropdown { // <li>
            > .dropdown-menu { // <ul>
                background-color: transparent;
                display: block !important;
                margin: 0;
                padding: 0;
                position: relative !important;
                top: 0;
                transform: inherit !important;
                > .nav-item { // <li>
                    > .dropdown-item { // <a>
                        background-color: transparent;
                        color: $gray-600;
                        padding: 0;
                        &:active,
                        &:hover {
                            background-color: transparent;
                            color: $gray-600;
                        }
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
